.cmds-content
	.row
		.cogv1-cmds-page.content.columns
			.parent-container.columns.large-12.large-centered
				.child-primary.columns.large-4
					p ui
				.child-secondary.columns.large-4
					p ui1
				.child-primary.columns.large-4
					p ui2
			.top-break
				|hr
			.parent-container.columns.large-12.large-centered
				.child-primary.columns.large-4
					p ui
				.child-secondary.columns.large-4
					p ui1