.row.expanded
	.footer-wrapper.columns.large-16.medium-16-small-16
		.footer-content-top.footer-primary
			.row
				.footer-nav.columns.large-11.small-16.large-offset-2.small-offset-0
					.row
						.left-panel.columns.large-3.medium-5.small-10.small-centered.large-uncentered.medium-uncentered
							a(href='http://www.linkedin.com/company/cognizant', target='_blank')
								svg(viewbox='0 0 100 100')
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon_linkedin')
							a(href='http://twitter.com/cognizant', target='_blank')
								svg(viewbox='0 0 100 100')
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon_twitter')
							a(href='http://www.facebook.com/Cognizant', target='_blank')
								svg(viewbox='0 0 100 100')
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon_facebook')
							a(href='http://www.cognizant.com/Pages/rss.aspx', target='_blank')
								svg(viewbox='0 0 100 100')
									use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon_rss')
						.right-panel.columns.large-10.medium-16.small-16
							.panel-reference
								.sub-links
									a(href='http://www.cognizant.com/sitemap', onclick="dataLayer.push({'event':'clickTrack','eventCategory':'Footer','eventAction':document.location.href,'eventLabel':'vlink ='+this.href+'+from='+document.referrer});") Sitemap
									a(href='http://www.cognizant.com/legal', onclick="dataLayer.push({'event':'clickTrack','eventCategory':'Footer','eventAction':document.location.href,'eventLabel':'vlink ='+this.href+'+from='+document.referrer});") Legal
									a(href='http://www.cognizant.com/privacy', onclick="dataLayer.push({'event':'clickTrack','eventCategory':'Footer','eventAction':document.location.href,'eventLabel':'vlink ='+this.href+'+from='+document.referrer});") Privacy Policy
									a(href='http://www.cognizant.com/cookiepolicy', onclick="dataLayer.push({'event':'clickTrack','eventCategory':'Footer','eventAction':document.location.href,'eventLabel':'vlink ='+this.href+'+from='+document.referrer});") Cookie Policy
									span
										|©2016 Cognizant, all rights reserved
.row
	.footer-content-bottom.footer-secondary.cogv1-cmds-page.columns.large-16.medium-16.small-16.large-centered
		.row
			.footer-bottom-description.columns.large-16.medium-16.small-16.large-centered.medium-centered
				.row
					.footer-panel-1.columns.large-8.medium-16.small-16.medium-centered.large-uncentered
						h6 ASSETSERV
						p 
							|	Speak with a consultant today to learn more about Cognizant assetSERV
							span TM
						p
							|	1-855-assetSERV (1-855-277-3873)
						a(href="mailto:AssetSERVCustSoins@cognizant.com") AssetSERVCustSoins@cognizant.com
					.footer-panel-2.columns.large-2.medium-4.small-16
						br.columns.show-for-medium
						ul
							li
								a(href="#") Resources
							li
								a(href="#") Fact Sheets
							li
								a(href="#") Case Studies
							li
								a(href="#") Webniars
							li
								a(href="#") Rip
							li
								a(href="#") Getting Started
					.footer-panel-3.columns.large-2.medium-4
						br.columns.show-for-medium
						ul
							li
								a(href="#") Platform
							li
								a(href="#") Overview
							li
								a(href="#") Features
							li
								a(href="#") Integrations
							li
								a(href="#") Solutions
							li
								a(href="#") DMI
					.footer-panel-4.columns.large-2.medium-4
						br.columns.show-for-medium
						ul
							li
								a(href="#") Resources
							li
								a(href="#") Fact Sheets
							li
								a(href="#") Case Studies
							li
								a(href="#") Webniars
							li
								a(href="#") Rip
							li
								a(href="#") Getting Started


